<h1>Purchase Ticket</h1>

<div>
  <% Ticket.all.each do |ticket| %>
    <div class="ticket">
      <div><%= ticket.title %></div>
      <div><%= ticket.winning_amount.to_s %></div>
      <div> <%= button_to t('common.buy') , user_user_tickets_path, method: :post, params: {ticket_id: ticket.id} %> </div>
    </div>
  <% end %>
<div style="clear:both;"></div>
</div>
